<div>
  <div>
    <div
      *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
      class="box dice"
      [class.active]="number === dice"
    >
      <div (click)="setDice(number)">{{ number }}</div>
    </div>
  </div>
  <!-- <div>
    <div
      *ngFor="let number of [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]"
      class="box dice"
      [class.active]="number === dice"
    >
      <div (click)="setDice(number)">{{ number }}</div>
    </div>
  </div> -->
  <div>
    <div
      *ngFor="
        let number of [
          16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
        ]
      "
      class="box dice"
      [class.active]="number === dice"
    >
      <div (click)="setDice(number)">{{ number }}</div>
    </div>
  </div>
</div>
<div>
  <div
    *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]"
    class="box limit"
    [class.active]="number === limit"
  >
    <div (click)="setLimit(number)">{{ number }}</div>
  </div>
  <div class="box limit" [class.active]="limit === 999" (click)="setLimit(999)">
    X
  </div>
  <div class="rollcontainer">
    <div
      class="arrow-right"
      [class.edgerolled]="edgeroll"
      [class.count-right]="timerCounter === 1 || timerCounter >= 4"
    ></div>
    <div
      class="arrow-right"
      [class.edgerolled]="edgeroll"
      [class.count-right]="timerCounter === 2 || timerCounter >= 4"
    ></div>
    <div
      class="arrow-right"
      [class.edgerolled]="edgeroll"
      [class.count-right]="timerCounter === 3 || timerCounter >= 4"
    ></div>
    <button
      class="roll"
      [class.patzer]="result.includes('Patzer')"
      [class.kritpatzer]="result === 'KRIT'"
      [class.edgerolled]="edgeroll"
      (click)="startTimer()"
      unselectable="on"
      onselectstart="return false;"
    >
      {{ result }}
    </button>
    <div
      class="arrow-left"
      [class.edgerolled]="edgeroll"
      [class.count-left]="timerCounter === 3 || timerCounter >= 4"
    ></div>
    <div
      class="arrow-left"
      [class.edgerolled]="edgeroll"
      [class.count-left]="timerCounter === 2 || timerCounter >= 4"
    ></div>
    <div
      class="arrow-left"
      [class.edgerolled]="edgeroll"
      [class.count-left]="timerCounter === 1 || timerCounter >= 4"
    ></div>

    <button
      class="edge"
      (click)="edgeReroll()"
      unselectable="on"
      onselectstart="return false;"
    >
      EDGE
    </button>
  </div>

  <div>
    <div class="healthbar">
      <div>
        <div
          *ngFor="
            let number of [
              1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17
            ]
          "
          class="healthbox phys"
          [class.active]="number <= phys"
          (click)="setPhys(number)"
        >
          {{ number }}
        </div>
      </div>
      <div style="margin-top:1%">
        <div
          *ngFor="
            let number of [
              1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17
            ]
          "
          class="healthbox mental"
          [class.active]="number <= mental"
          (click)="setMental(number)"
        >
          {{ number }}
        </div>
      </div>
    </div>
    <div class="handicap">{{ handicap }}</div>
  </div>
</div>
