:root {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  /* height: 100%; */
  /* width: 100%; */
  margin: 0px;
  padding: 1%;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.box {
  display: inline-block;
  /*   height: 5.5%; */
  width: 5.9%;
  line-height: 280%;
  border-radius: 40% 0px 40% 0px;
  margin: 0.3%;
  padding: 0.2%;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.dice {
  background-color: lightslategray;
}

.limit {
  background-color: lightslategray;
}

.patzer {
  font-size: 2em !important;
  color: red !important;
}
.kritpatzer {
  font-size: 2em !important;
  color: red !important;
}

.roll {
  border-top-left-radius: 30% 40%;
  border-bottom-right-radius: 30% 40%;
  margin: 3%;
  margin-left: 9%;
  width: 20%;
  height:5rem;
  /* height:8em; */
  /* line-height: 1.5rem; */
  background-color: lightslategray;
  color: #34ebe5;
  font-size: 3em;
  font-weight: bolder;
  box-shadow: inset 0px 0px 0px 0.2rem #34ebe5;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.dice.active {
  color: #34ebe5;
  box-shadow: inset 0px 0px 0px 0.1rem #34ebe5;
}

.limit.active {
  color: #34ebe5;
  box-shadow: inset 0px 0px 0px 0.1rem #34ebe5;
}

.healthbar {
  display: inline-block;
  width: 80%;
  color:black;
  overflow:hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.healthbox {
  display: inline-block;
  width: 5.8%;
  line-height: 200%;
  box-shadow: inset 0px 0px 0px 0.05rem lightslategray;
  background-color: black;
  text-align: center;
  /*   vertical-align: middle; */
}

.phys.active {
  background-color: #ba1b18;
}

.mental.active {
  background-color: #1c7ed4;
}

.handicap {
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  color: white;
  margin-left: 5%;
}

.count-right {
  /* background-color: #34ebe5; */
  border-left: 25px solid #34ebe5 !important;
}

.count-left {
  /* background-color: #34ebe5; */
  border-right: 25px solid #34ebe5 !important;
}

.rollcontainer {
  display:flex;
  flex-wrap:nowrap;
  justify-content: center;
}

.arrow-right {
  display: inline-block;
  content: '';
  position: relative;
  background-color: transparent;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #32557f;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.arrow-left {
  display: inline-block;
  content: '';
  position: relative;
  background-color: transparent;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 25px solid #32557f;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
